body { min-width: 1220px;}

.class { behavior:url(js/PIE.htc); position:absolute;}

.img-circle,
.list-services a,
.pagination a,
.dropcap-circle { behavior:url(js/PIE.htc); position: relative;}

	.magnifier:hover img {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);}
	#contact-form ._placeholder {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=99);}
	#contact-form ._placeholder.focused {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);}
	.list-logos img {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);}
	.list-logos a:hover img {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);}

.h-top .fright form input { outline: none;}
.h-top .fright form a {
	right: 1px;
	width: 31px;
}